@tailwind base;
@tailwind utilities;
@tailwind components;

.background {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.main-game {
  background-image: url("/public/images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}
