@tailwind base;
@tailwind utilities;
@tailwind components;

.background {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.first-screen {
  background-image: url("/public/images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.dummy {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 99999px;
  animation: loading 0.5s infinite;
}

@keyframes loading {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}
